<section id="section_container">
    <div id="section_title">
        <h2>ACADEMY</h2>
    </div>
    <div id="section_content">
        <mat-card>
            <mat-card-title>INTRODUCTION</mat-card-title>
            <mat-card-content>
                <section class="intro_text">
                    <p>Link Academey is your one stop resource for XMP education and best practaces for Xero addon apps.</p>
                    <p>Maecenas tempus velit vel est aliquam semper. Etiam commodo urna et lacus blandit, a porttitor ante hendrerit. Proin facilisis varius dui ut congue. Aliquam mattis et velit nec molestie. Duis elementum magna felis, ut finibus massa faucibus suscipit. Morbi imperdiet sapien ac vestibulum iaculis. Donec arcu justo, sodales ac porta ac, scelerisque ut elit. Aenean feugiat lectus id elit malesuada, ac vehicula diam aliquet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tristique maximus tincidunt. Proin a dapibus augue. Pellentesque rutrum ac mauris non sollicitudin.</p>
                </section>
                <iframe src="https://player.vimeo.com/video/790191560?h=0bacd1d456&color=bdac6f&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </mat-card-content>
        </mat-card>
    </div>
</section>