@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
    background-image: url("/assets/LinkIconSolidHalfL.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40vh;
    background-blend-mode: soft-light;  
}
:host, html, body {
    display: flex;
    flex-direction: column;
    height: 100vh !important;
    margin: 0 !important;
    padding: 0 !important;
}