html {
    background-image: url("/assets/LinkIconSolidHalfL.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40vh;
    background-blend-mode: soft-light;  
}